{% extends 'main.html' %} {% block content %}

<section class="page-section fuel-section">
    <h1 class="page-heading">Fuel Types</h1>
    <hr />

    <main class="table-content-area">
        <div class="table-content-area-2">
            <div>
                <input class="search-input" type="text" placeholder="Search by date or name">
            </div>

            <div>
                <a class="add-btn btn-2" href="{% url 'add-fuel-type' %}">Add fuel type</a>
            </div>

            <div>
                <table class="table fuel-table">
                    <colgroup>
                        <col width="50px" />
                        <col width="200px" />
                        <col width="200px" />
                        <col width="200px" />
                        <col width="150px" />
                        <col width="150px" />
                        <!-- <col width="100px" /> -->
                    </colgroup>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date Added</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Fuel Status</th>
                            <th>Action</th>
                            <!-- <th></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for fuel in fuels %}
                        <tr style="border-bottom: solid black 1px">
                            <td class="text-center">{{forloop.counter}}</td>
                            <td class="">{{ fuel.date_created|date:"M d, Y H:i" }}</td>
                            <td class="">{{fuel}}</td>
                            <td class="text-end">{{ fuel.price }}/L</td>

                            <td>
                                {% if fuel.fuel_status == '1' %}
                                <span class="active-status">Active</span> {% else %}
                                <span class="inactive-status">Inactive</span>
                                {% endif %}
                            </td>

                            <td>
                                <div class="dropdown">
                                    <button class="btn-2 btn-3">Choose action
                                        &rsaquo;</button>
                                    <ul id="list-items">
                                        <li><a class="action-btn btn" href="{% url 'fuel' fuel.id %}">&rsaquo; view
                                                details</a>
                                        </li>
                                        <li><a class="action-btn btn" href="{% url 'delete-fuel' fuel.id %}">&rsaquo;
                                                delete</a>
                                        </li>
                                        <!-- <li><a class="action-btn btn" href="">&rsaquo;
                                                place order</a>
                                        </li> -->
                                    </ul>
                                </div>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</section>

{% endblock content %}