{% extends 'main.html' %}
{% block content %}

<section class="form-section">
    <div class="form-content">
        <a class="close-details btn" href="{% url 'customers' %}">close &times;</a>
        <form class="add-form" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <!-- Input:Text -->
            <div class="form-area">
                <div class="form-label"><label>{{field.label}} :</label></div>
                <div class="form-field">
                    {{field}}

                    {% for error in field.errors %}
                    <p class="form-error" style="color: red;"> {{error}} </p>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

            <input class="btn-2 submit-btn" type="submit" value="Save" />

        </form>
    </div>
</section>

{% endblock content %}