{% extends 'main.html' %}

{% block content %}

<section class="page-details">
    <main class="details-content">
        <a class="close-details btn" href="{% url 'employees' %}">close &times;</a>

        <h1 class="details-title">{{ employee.name }} details</h1>
        <hr />

        <section class="main-details">
            <div>
                <p><span>Name:</span></p>
                <p class="margin-bottom">{{employee}}</p>
                <p><span>Contacts:</span></p>
                <p class="margin-bottom">0{{employee.contact}}</p>
                <p><span>Email:</span></p>
                <p class="margin-bottom">{{employee.email}}</p>
                <p><span>Date Added:</span></p>
                <p class="margin-bottom">{{ employee.date_created|date:"M d, Y H:i" }}</p>
            </div>

            <div>
                <a class="edit-btn btn" href="{% url 'update-employee' employee.id %}">edit</a>
            </div>

        </section>


    </main>
</section>

{% endblock content %}